<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StudyGram</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/header.css" />
    <link rel="stylesheet" href="/detail.css" />
  </head>
  <body>
    <%- include('header.ejs') %> <% if (username === post.user) { %>
    <div class="btn-box">
      <a href="/edit/<%= post._id %>"><button class="put-btn">수정</button></a>
      <button class="delete-btn">삭제</button>
    </div>
    <div class="gray-bg" style="display: none">
      <div class="delete-box">
        <h2>게시물을 삭제하시겠습니까?</h2>
        <div class="delete-btn-box">
          <button class="delete-yes">삭제</button>
          <button class="delete-no">취소</button>
        </div>
      </div>
    </div>
    <% } %>
    <div class="detail-box">
      <p class="detail-user"><%= post.user %></p>
      <h1 class="detail-title"><%= post.title %></h1>
      <p class="detail-content"><%= post.content %></p>
      <p class="detail-time"><%= post.createdAt.toLocaleString() %></p>
      <div class="icon-box">
        <div class="heart-icon">
          <% if (heart) {%>
          <i class="fa-solid fa-heart"></i>
          <% } else { %>
          <i class="fa-regular fa-heart"></i>
          <% } %>
          <p class="heart-num"><%= post.heart %></p>
        </div>
        <div class="comment-icon">
          <i class="fa-regular fa-comment"></i>
          <p class="comment-num"><%= comments.length %></p>
        </div>
      </div>
    </div>
    <div class="comment-box">
      <form action="/comment/<%= post._id %>" method="POST">
        <textarea
          name="comment"
          required
          placeholder="댓글을 입력하세요"
        ></textarea>
        <button type="submit">등록</button>
      </form>
      <div class="comment-list">
        <% for (let i = 0; i < comments.length; i++) { %>
        <div class="comment" data-comment_id="<%= comments[i]._id %>">
          <div class="comment-gray-bg" style="display: none">
            <h2>댓글을 삭제하시겠습니까?</h2>
            <button class="comment-delete-yes">삭제</button>
            <button class="comment-delete-no">취소</button>
          </div>
          <p class="comment-user"><%= comments[i].user %></p>
          <% if (username == comments[i].user) { %>
          <p class="put-delete">
            <span class="put-comment">수정</span
            ><span class="delete-comment">삭제</span>
          </p>
          <% } %>
          <p class="comment-content"><%= comments[i].content %></p>
          <p class="comment-time">
            <%= comments[i].createdAt.toLocaleString() %>
          </p>
        </div>

        <form
          action="/put-comment/<%= comments[i]._id %>?_method=PUT"
          method="POST"
          style="display: none"
        >
          <textarea name="put_comment" required>
<%= comments[i].content %></textarea
          >
          <button type="submit">수정</button>
        </form>
        <% } %>
      </div>
    </div>
    <script>
      const comment_btn = document.querySelector('.comment-box button');
      if ('<%= username %>') {
        comment_btn.disabled = false;
        comment_btn.style.backgroundColor = '#74c0fc';
        comment_btn.style.cursor = 'pointer';
      } else {
        comment_btn.disabled = true;
        comment_btn.style.backgroundColor = '#808080';
        comment_btn.style.cursor = 'default';
      }
    </script>
    <script>
      document
        .querySelector('.fa-heart')
        .addEventListener('click', function (e) {
          if (e.target.classList.contains('fa-regular')) {
            if ('<%= username %>') {
              fetch('/heart/<%= post._id %>', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                  num: e.target.nextElementSibling.textContent,
                }),
              })
                .then((res) => res.json())
                .then((data) => {
                  if (data.result) {
                    e.target.nextElementSibling.textContent = data.num;
                    e.target.classList.replace('fa-regular', 'fa-solid');
                  }
                })
                .catch((err) => console.error(err));
            } else {
              window.location.href = '/login';
            }
          } else if (e.target.classList.contains('fa-solid')) {
            fetch('/delete-heart/<%= post._id %>', {
              method: 'DELETE',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({
                num: e.target.nextElementSibling.textContent,
                id: '<%= post._id %>',
              }),
            })
              .then((res) => res.json())
              .then((data) => {
                if (data.result) {
                  e.target.nextElementSibling.textContent = data.num;
                  e.target.classList.replace('fa-solid', 'fa-regular');
                }
              })
              .catch((err) => console.error(err));
          }
        });
    </script>
    <script>
      document.querySelector('.delete-yes').addEventListener('click', () => {
        fetch('/delete/<%= post._id %>', {
          method: 'DELETE',
        })
          .then((res) => {
            if (res.redirected) {
              window.location.href = res.url;
            } else {
              return res.json();
            }
          })
          .catch((error) => console.error('Error:', error));
      });
    </script>
    <script
      src="https://kit.fontawesome.com/a99ca2fd10.js"
      crossorigin="anonymous"
    ></script>
    <script src="/detail.js"></script>
  </body>
</html>
