<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Studygram</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/list.css" />
    <link rel="stylesheet" href="/header.css" />
  </head>
  <body>
    <%- include('header.ejs') %> <% for (let i = 0; i < result.length; i++) { %>
    <a href="/detail/<%= result[i]._id %>">
      <div class="content-box">
        <h2 class="content-title"><%= result[i].title %></h2>
        <p class="content"><%= result[i].content %></p>
        <p class="content-user"><%= result[i].user %></p>
        <p class="content-time"><%= result[i].createdAt.toLocaleString() %></p>
      </div>
    </a>
    <% } %>
    <div class="page-btn">
      <a href="/list/<%= currentPage - 1 %>" class="prev-link"
        ><button class="prev-btn">
          <i class="fa-solid fa-angle-left"></i> 이전
        </button></a
      >
      <a href="/list/<%= currentPage + 1 %>" class="next-link"
        ><button class="next-btn">
          다음 <i class="fa-solid fa-angle-right"></i></button
      ></a>
    </div>
    <script>
      const prevLink = document.querySelector('.prev-link');
      const nextLink = document.querySelector('.next-link');
      const prevBtn = document.querySelector('.prev-btn');
      const nextBtn = document.querySelector('.next-btn');
      if (
        ('<%= currentPage %>' == 1 &&
          '<%= currentPage %>' == '<%= totalPages %>') ||
        '<%= totalPages %>' == 0
      ) {
        prevLink.style.pointerEvents = 'none';
        prevBtn.style.backgroundColor = '#808080';
        prevBtn.style.cursor = 'default';
        prevBtn.disabled = true;
        nextLink.style.pointerEvents = 'none';
        nextBtn.style.backgroundColor = '#808080';
        nextBtn.style.cursor = 'default';
        nextBtn.disabled = true;
      } else if ('<%= currentPage %>' == 1) {
        prevLink.style.pointerEvents = 'none';
        prevBtn.style.backgroundColor = '#808080';
        prevBtn.style.cursor = 'default';
        prevBtn.disabled = true;
      } else if ('<%= currentPage %>' == '<%= totalPages %>') {
        nextLink.style.pointerEvents = 'none';
        nextBtn.style.backgroundColor = '#808080';
        nextBtn.style.cursor = 'default';
        nextBtn.disabled = true;
      }
    </script>
    <script
      src="https://kit.fontawesome.com/a99ca2fd10.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
